@model IEnumerable<FilRougeBiblio.Core.Entities.Emprunt>
@using FilRougeBiblio.Core.Entities;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nouvel emprunt</a>
</p>


<table class="table">
<thead>
    <tr>
        <th>
            Exemplaire (livre)
        </th>
        <th>
            Emprunteur
        </th>
            <th>
                Date d'emprunt
                </th>
                <th>Date de retour</th>
        </tr>
        
        </thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exemplaire.NumeroInventaire) 
                --
                @Html.DisplayFor(modelItem => item.Exemplaire.Livre.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lecteur.Nom)
            </td>
            <td>@item.DateEmprunt.ToString()</td>
               
                <td>@item.DateRetour.ToString()</td>
                @if (item.DateRetourReel == null)
                {
                    <td>
                        <a asp-action="Rendre" asp-route-id="@item.Id">Rendre</a>
                    </td>
                } else
                {
                    <td>@item.DateRetourReel.ToString()</td>
                }

        </tr>
    }
</tbody>
</table>













@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateEmprunt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRetour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateEmprunt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRetour)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
